/* https://www.youtube.com/watch?v=9T8uxp5hQ60  */
div{
  background-color: hsl(0, 100%, 75%);
  width: 100px;
  height: 100px;
  display: block;
  /* visibility: hidden; */
}

span{
  background-color: hsl(204,100%,75%);
  width: 100px;
  height: 100px;
  display: inline-block;
}